/* Estilos para a página de criação de programação */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-label {
    font-weight: bold;
}

.btn-primary {
    margin-top: 20px;
}

.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .container {
        padding: 0 10px;
    }

    .navbar {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .text-center{
        margin-top: 100px;
    }
}