@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #ffd08a;
    font-family: 'Montserrat', sans-serif ;
}
.titulo{
    text-align: center;
}
section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}
.btn{
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}
